<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <style>
      html,
      body {
        padding: 0;
        margin: 0;
        height: 100%;
        background: #2b2640;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      button {
        background: #512da8;
        border: none;
        border-radius: 5px;
        padding: 10px 30px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      h1 {
        font-size: 30px;
        font-weight: 600;
        color: #fff;
        line-height: 30px;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        white-space: pre;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>{{title}}</h1>
        <p>{{message}}</p>
      </div>
    </div>
  </body>
</html>
