<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create 3D Rooom</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <form id="create-room">
        <div class="input-container">
          <label for="collection-symbol">Collection Link</label>
          <input
            id="collection-symbol"
            type="text"
            placeholder="Eg: https://magiceden.io/marketplace/misty_mallory"
            value=""
          />
        </div>

        <div class="input-container">
          <ul>
            <label for="policy" style="margin-left: -40px"
              >Minimum royalty for entering the room.</label
            >
            <li>0% means no need to pay royalty fee.</li>
            <li>100% means you need to pay 100% of the royalty fee.</li>
          </ul>
          <select id="policy">
            <option value="0">0%</option>
            <option value="50">50%</option>
            <option value="100">100%</option>
          </select>
        </div>

        <button type="submit">Create Room</button>
        <p id="room-url" style="color: #fff; display: none">
          Your room URL is: <br />
          <a href="" target="_blank"></a>
        </p>
      </form>
    </div>
    <script src="script.js"></script>
  </body>
</html>
