<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create 3D Rooom</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <form id="create-room">
        <div class="input-container">
          <label for="collection-symbol">Collection Symbol</label>
          <input
            id="collection-symbol"
            type="text"
            placeholder="Enter Collection Symbol"
            value="misty_mallory"
          />
        </div>
        <div class="input-container">
          <label for="royalty">Royalty (From 0 - 10000, ex: 1000 = 1%)</label>
          <input
            id="royalty"
            type="number"
            placeholder="Enter Collection Royalty"
            min="0"
            max="10000"
            value=""
          />
        </div>
        <div class="input-container">
          <label for="policy">Policy (From 0 - 10000, ex: 1000 = 1%)</label>
          <input
            id="policy"
            type="number"
            placeholder="Enter Collection Royalty Policy"
            min="0"
            max="10000"
            value=""
          />
        </div>
        <button type="submit">Create Room</button>
        <p id="room-url" style="color: #fff; display: none">
          Your room URL is: <br />
          <a href="" target="_blank"></a>
        </p>
      </div>
      </form>      
    <script src="script.js"></script>
  </body>
</html>
